<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="GeSHiConfig" type="WLWGeSHiBlock.Configuration.GeSHiConfigSection, WLWGeSHiBlock" />
  </configSections>

  <GeSHiConfig showNumbering="true" showCollapsible="true">

    <langauges>
      <add name="C" value="c"/>
      <add name="CPP" value="cpp"/>
      <add name="C#" value="csharp"/>
      <add name="Java" value="java"/>
      <add name="JavaScript" value="javascript"/>
      <add name="PHP" value="php"/>
      <add name="Python" value="python"/>
      <add name="Ruby" value="ruby"/>
      <add name="XML" value="xml"/>
    </langauges>

    <styles>
      <add style="[code lang=]" value="&lt;pre&gt;[code lang=&quot;$language&quot; $title $numbering $collapsible]$code[/code]&lt;/pre&gt;"></add>
      <add style="&lt;code lang=&gt;" value="&lt;pre&gt;&lt;code lang=&quot;$language&quot; $title $numbering $collapsible&gt;$code&lt;/code&gt;&lt;/pre&gt;"></add>
      <add style="[lang]" value="&lt;pre&gt;[$language $title $numbering $collapsible]$code[/$language]&lt;/pre&gt;"></add>
      <add style="&lt;lang&gt;" value="&lt;pre&gt;&lt;$language $title $numbering $collapsible&gt;$code&lt;/$language&gt;&lt;/pre&gt;"></add>
      <add style="&lt;pre xml:lang&gt;" value="&lt;pre xml:$language&gt;$code&lt;/pre&gt;"></add>
    </styles>

  </GeSHiConfig>

</configuration>